.header{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    padding-bottom: 20px;
}
.search{
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    margin-left: 30%;
}
table,tr,td,th{
        border: 1px solid black;
        border-collapse: collapse;
        margin-left: 200px;
        padding: 10px;
      }
.table{
    padding: 20px;
}

